<div class="container">
    <div class="row">
        <div class="col-md-12">
            <accordion>
                <accordion-group [isOpened]="true">
                    <accordion-heading id="accordion1" (click)="onclicktoggle('accordion1')">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <div class="row" id="heading">
                                    <div class="col-md-6">
                                        <span id="icon1" class="glyphicon glyphicon-minus"></span> OWS 2017 K-1 Tax Effect Tool
                                    </div>
                                   <div class="col-md-6" style="text-align: right;">
                                         <img src="assets/logo.png" height="45px"> 
                                   </div>   
                                </div>                            </h2>
                        </div>
                    </accordion-heading>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Explore the Potential Tax Effect of investing in an oil drilling partnership.</h4>
                            </div>
                           
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-5" style="min-height:25px">
                                        Estimated Taxable Income
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-4" style="min-height:50px">
                                        <div class="input-group">
                                            <input type="number" [(ngModel)]="Estimated_Taxable_Income_model" min="0" class="form-control" />
                                            <span class="input-group-addon" style="font-weight:bold">&nbsp;&nbsp;$&nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5" style="min-height:25px">
                                        Filing Status
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-4" style="min-height:50px">
                                        <select class="form-control" (change)="getSelected($event.target.value)">
                                            <option value="-1">Select Filing Status</option>
                                            <option value="0">Single</option>
                                            <option value="1">Married Filing Jointly</option>
                                            <option value="2">Married Filing Separately</option>
                                            <option value="3">Head of Household</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1" style="min-height:50px">
                                        <button class="btn btn-success" (click)="compare_k1()">SUBMIT</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="arrowUp" class="col-md-4 col-xs-7" style="text-align: center">
                                        <span style="font-size: 25px;">Your Tax
                                            <br> Bracket</span>
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-1 col-xs-1"></div>
                                    <div class="col-md-4 col-xs-3" style="padding-top: 10px">
                                        <b>
                                            <span style="font-size: xx-large;">{{Tax_Bracket | percent}}</span>
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-4" style="margin-left: -10px" *ngIf="pieChartData.length > 1">
                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. After Tax Income
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>

                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo silver"></div>{{ Adjusted_Net_Income | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. Tax Liability
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>

                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo red"></div>{{ Tax_Liability | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas baseChart height="175px" [data]="pieChartData" [options]="pieChartOption" [labels]="pieChartLabels" [colors]="pieChartColor"
                                            [chartType]="pieChartType"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr style="border-top: 1px solid #CDCDCD">

                        <div class="row">
                            <div class="col-md-7">
                                <h4 style="text-align:justify">This Tool helps you do two very important things when considering investing in oil and gas
                                    drilling partnerships that issue K-1 's for tax filing purposes:</h4>
                                <ol style="padding-top: 10px; margin-left: -25px">
                                    <li>Compare the effect on your
                                        <b>After Tax Income</b> with a K-1 write off.</li>
                                    <li>Estimate the
                                        <b>Out-of-Pocket Investment Dollars at Risk.</b>
                                    </li>
                                </ol>
                                Simply input an
                                <b>Investment Amount</b> and
                                <b>Estimated K-1 Deduction</b>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4 round-div">
                                <div class="row">
                                    <div class="col-md-12">
                                        Est. Out-of-Pocket Investment Dollars at Risk
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <b style="color:#9fc1e4">{{Actual_Dollars_At_Risk | currency:'USD' : true : '1.2-2' }}</b>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <b style="font-size: 18px;">Your Estimated Cost Savings</b>
                                        <span style="color: green; font-size: large; font-weight:bold">
                                            {{ costSaving | percent }} </span>
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="row" style="min-height:50px">
                                    <div class="col-md-5" style="min-height:25px">
                                        Investment Amount
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-4" style="min-height:50px">
                                        <div class="input-group">
                                            <input type="number" [(ngModel)]="Investment_Amount_K1_model" min="0" (change)="compare_k2()" class="form-control" />
                                            <span class="input-group-addon" style="font-weight:bold">&nbsp;&nbsp;$&nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="min-height:50px">
                                    <div class="col-md-5" style="min-height:25px">
                                        Est. K-1 Deduction
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-2" style="min-height:35px">
                                        <div class="input-group">
                                            <input type="number" [(ngModel)]="k1_deduction_percentage" min="0" max="100" (change)="compare_k2()" class="form-control"
                                            />
                                            <span class="input-group-addon" style="font-weight:bold">&nbsp;%&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="min-height:50px; padding-top: 5px">
                                        {{ Deduction_K1 | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                                <div class="row" style="min-height:50px">
                                    <div class="col-md-7" style="min-height:25px">
                                        Est. Adjusted Taxable Income
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-4" style="min-height:50px">
                                        {{Adjusted_Taxable_Income_K1 | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="arrowDown" class="col-md-4 col-xs-7" style="text-align: center">
                                        <span style="font-size: 25px;">Your Adjusted Tax Bracket</span>
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-1 col-xs-1"></div>
                                    <div class="col-md-4 col-xs-3" style="padding-top: 10px">
                                        <b>
                                            <span style="font-size: xx-large;">{{Tax_Bracket_K1 | percent}}</span>
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="col-md-4" style="margin-left: -10px" *ngIf="pieChartData1.length > 1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas baseChart [data]="pieChartData1" [options]="pieChartOption1" [labels]="pieChartLabels1" [colors]="pieChartColor1"
                                            [chartType]="pieChartType" height="175px"></canvas>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. After Tax Income
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo silver"></div>{{ Adjusted_Net_Income_K1 | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. Investment
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo blue"></div>{{ Income_Difference | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. Tax Savings
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo green"></div>{{ Tax_Savings_K1 | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-6">
                                        Est. Tax Liability
                                        <i class="glyphicon glyphicon-question-sign" title=""></i>
                                    </div>
                                    <div class="col-md-5 col-xs-6">
                                        <div class="foo red"></div>{{ Tax_Liability_K1 | currency:'USD' : true : '1.2-2' }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>